### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# each row is a sale, so we need the unique values of the SN column
total_players = purchase_data['SN'].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Number of unique items
unique_items = purchase_data['Item ID'].nunique()
unique_items

# Average price of each item - find the mean of all the values - 
average_price = round(purchase_data["Price"].mean(),2)
average_price

# total number of purchases
purchase_count = len(purchase_data['Purchase ID'])
purchase_count

#total revenue
total_revenue = round(purchase_data['Price'].sum(),2)
total_revenue 

# create new data frame to display the summary - # need more work to format to accounting format
summary_data = pd.DataFrame([{'Unique Item Count': unique_items, 'Average Price': average_price, 'Number of Purchases': purchase_count, 'Total Revenue': total_revenue}])
summary_data

   Unique Item Count  Average Price  Number of Purchases  Total Revenue
0                179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:


player_count_gen = purchase_data.groupby(['Gender'])['SN'].nunique()

player_percent_gen = round(player_count_gen/total_players*100,2)

gender_demo = pd.DataFrame({'Total Player Count': player_count_gen, 
                            'Percentage of Players': player_percent_gen})
gender_demo

                       Total Player Count  Percentage of Players
Gender
Female                                 81                  14.06
Male                                  484                  84.03
Other / Non-Disclosed                  11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Purchase Count - broken down by gender
purchase_count_gen = purchase_data.groupby(['Gender'])['Item ID'].count()
#purchase_count_gen.head()

# Average Purchase Price - broken down by gender
avg_price_gen = round(purchase_data.groupby(['Gender'])["Price"].mean(),2)
#average_price_gen.head()

# Total Purchase Value - broken down by gender
total_revenue_gen = round(purchase_data.groupby(['Gender'])['Price'].sum(), 2)



# Average Purchase Total Per Person - broken down by gender
avg_spent_gen = round(total_revenue_gen/player_count_gen,2)

# Display the summary data frame
purchasing_analysis_gen_df = pd.DataFrame({"Purchase Count": purchase_count_gen,
                                          "Avg Purchase Price": avg_price_gen,
                                          "Total Purchase Value": total_revenue_gen,
                                          "Avg Total Spent per Person": avg_spent_gen})
purchasing_analysis_gen_df.head()

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Spent per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# --------------------------------------------------------------------------
#print(purchase_data["Age"].max()) - return value is '45'

# Create bins of 4 years: (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins:
age_group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Slice the data and place it into bins
pd.cut(purchase_data['Age'], bins, labels=age_group_labels).head()


# Place the data series into a new column inside of the DataFrame
purchase_data['Player Age'] = pd.cut(purchase_data['Age'], bins, labels=age_group_labels)


# Create a GroupBy object based upon "View Group"
age_groupby = purchase_data.groupby('Player Age')


# Player Count by age group in bins 
player_count_age = round(age_groupby['SN'].nunique(),2)


# Player Percent by age group in bins
player_percent_age = round(player_count_age/total_players*100,2)


# Display the summary data frame
age_demo = pd.DataFrame({'Total Player Count': player_count_age, 
                         'Percentage of Players': player_percent_age})
age_demo

            Total Player Count  Percentage of Players
Player Age
<10                         17                   2.95
10-14                       22                   3.82
15-19                      107                  18.58
20-24                      258                  44.79
25-29                       77                  13.37
30-34                       52                   9.03
35-39                       31                   5.38
40+                         12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# bins established in section above

# Purchase Count - per age group
purchase_count_age = age_groupby["Purchase ID"].count()

# Average Purchase Price - per age group 
avg_price_age = round(age_groupby[["Price"]].mean(),2)

# Total Purchase Value - into bins of 4 years - uses entire data (all 780 rows)

# Average Purchase Total per Person by Age Group - into bins of 4 years - uses unique SN (only 576, not 780)

            Price
Player Age
<10          3.35
10-14        2.96
15-19        3.04
20-24        3.05
25-29        2.90
30-34        2.93
35-39        3.60
40+          2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Extract the following columns: 'Item ID', 'Item Name', and 'Item Price'
pop_df = purchase_data[['Item ID', 'Item Name','Price']]
#pop_df.head()

# Group by Item ID and Item Name. # Perform calculations to obtain purchase count
pop_df_groupby = pop_df.groupby(['Item ID'])['Price'].count()
#pop_df_groupby.head()


# Group by Item ID and Item Name.Perform calculations to obtain average item price
pop_average_price_groupby = round(pop_df.groupby(['Item ID', 'Item Name'])['Price'].mean(),2)
pop_average_price.head()

# Group by Item ID and Item Name. Perform calculations to obtain total purchase value
#pop_total_purchase_value = pop_df.groupby(['Item ID'])['Item Name'].sum()
#pop_total_purchase_value.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [9]:

pur1 = purchase_data.groupby(["Gender"])["SN"].nunique()

pur2 = purchase_data.groupby(["Gender"]).size()/len(purchase_data)

gender_demo_df = pd.DataFrame({"Percentage": pur2,
                         "Purchase Count": pur1})
gender_demo_df

                       Percentage  Purchase Count
Gender
Female                   0.144872              81
Male                     0.835897             484
Other / Non-Disclosed    0.019231              11